<h1>Home Page</h1>

<div>
    <h4>Single file Upload</h4>
    <form asp-controller="Home" asp-action="SingleFile" enctype="multipart/form-data" method="post">
        <input type="file" name="file" value="" />
        <button type="submit">Submit</button>
    </form>
</div>


<div>
    <h4>Multiple file Upload</h4>
    <form asp-controller="Home" asp-action="MultipleFiles" enctype="multipart/form-data" method="post">
        <input type="file" multiple name="files" value="" />
        <button type="submit">Submit</button>
    </form>
</div>